@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
/* Fallback for non-Tailwind classes */
body {
  /* this means apply from tailwind classes  */
  @apply bg-background text-foreground transition-colors duration-300;
  overflow-x: hidden;
  font-family: "Playfair Display", serif;

}

.dark body {
  @apply bg-background-dark text-foreground-dark transition-colors duration-300;
}

/* From Uiverse.io by vinodjangid07 */
#checkbox {
  display: none;
}


/* SwitchBtn  */
.switch {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}

.switch svg {
  width: 1.2em;
}

.switch svg path {
  fill: rgb(48, 48, 48);
}

#checkbox:checked+.switch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset, 0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255), 0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}

#checkbox:checked+.switch svg {
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}

#checkbox:checked+.switch svg path {
  fill: rgb(255, 255, 255);
}

.SwitchBtnParent {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 22;
}



/* SwitchBtn  */


/* loader  */
/* navbar  */
nav {
  z-index: 99999;
  width: 100%;
  max-width: 80%;
  width: 500px;
  border-radius: 50px;
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 8px;
}

nav a {
  padding: 4px;

}

/* navbar  */

main {
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black !important;
  overflow: hidden;
}

canvas {
  height: 100vh !important;
}

/* marque  */
.marquee-container {
  position: absolute;
  top: 78%;
  right: 0;
  transform: translateY(-50%);
  transform-origin: top right;
  /* transform: rotate(-45deg); */
  white-space: nowrap;
  position: relative;
  width: 100%;
  color: black;
  /* Optional: Text color */
  padding: 10px 0;
  /* Adjust padding */
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 35s linear infinite;
  /* Duration and speed */
}

.ParentMarque {
  position: relative;
  height: 100vh;
 
  overflow: hidden;
}

.dark .marquee-content span {
  -webkit-text-stroke-color: white;
}

.marquee-content span {
  display: inline-block;
  margin: 0 30px;
  /* Adjust spacing */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  ;
  font-size: 20rem;
  /* Adjust font size */
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.ProfileComponent {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  max-width: 90%;
  transform: translate(-50%, -50%);
}

.ProfileComponent .imageData {
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
  border-radius: 15px
}
.ProfileComponent .imageData img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 15px;
}
.ProfileLabels {
  font-size: 6rem; /* Default for large screens */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}



@media (max-width: 1024px) {
  .ProfileLabels {
    font-size: 3rem; /* Small screens */
  }
}

@media (max-width: 480px) {
  .ProfileLabels {
    font-size: 2rem; /* Extra small screens */
  }
}
.container {
  width: 100%;
  height: 100%;
}

.mainCursor > div {
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  background: lightcoral;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.6;
}

.mainCursor > div:nth-child(1) {
  width: 60px;
  height: 60px;
}

.mainCursor > div:nth-child(2) {
  width: 125px;
  height: 125px;
}

.mainCursor > div:nth-child(3) {
  width: 75px;
  height: 75px;
}

.mainCursor > div::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.mainCursor > div:nth-child(2)::after {
  top: 35px;
  left: 35px;
  width: 35px;
  height: 35px;
}

.mainCursor > div:nth-child(3)::after {
  top: 25px;
  left: 25px;
  width: 25px;
  height: 25px;
}

.mainCursor {
  
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  filter: url("#blob");
  overflow: hidden;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.HomeIntro{
  min-width: 100vw;
  min-height:100vh;
  --color: #E1E1E1;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 105px 105px;
}
.test-btn{
  position: relative;
  z-index: 999999999999999999999999999999;
}
/* marque  */
/* social Media  */
/* From Uiverse.io by david-mohseni */


/* social Media  */